<div id="side-bar" data-controller="navbar" data-navbar-target="sidebar">
    <div class="toggle-btn" id="btn" data-action="click->navbar#slide">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="return-page-navbar">
    <%= link_to " ", :back, class: "fas fa-chevron-left" %></div>
    <%# <i class="fas fa-chevron-left"></i></div> %>

    <div class="navbar">
      <div class="top-navbar">
        <ul class="ul-navbar">
          <%# <div>
            <%= image_tag("logo-portal.png", size: "30px")%>
            <%# <img src="app/assets/images/logo-portal.png" alt="portal logo"> %>
          <%# </div> %>
          <li class="li-navbar"><i class="fa-sharp fa-solid fa-house"></i>&nbsp;&nbsp; <%= link_to "Universes", universes_path, class: "nav-link"%></li>
          <li class="li-navbar"><i class="fa-solid fa-book-open"></i>&nbsp;&nbsp;Context</li>
          <li class="li-navbar"><i class="fa-solid fa-user-astronaut"></i>&nbsp;&nbsp;&nbsp; <%= link_to "Character", "/characters/1/adventures/new", class: "nav-link" %></li>
        </ul>
      </div>
      <div class="bottom-navbar">
        <ul class="ul-navbar">
          <li class="li-navbar"><i class="fa-solid fa-user"></i>&nbsp;&nbsp; Profil</li>
          <li class="li-navbar"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp; <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></li>
        </ul>
      </div>
    </div>
  </div>
