<div id="side-bar" data-controller="navbar" data-navbar-target="sidebar">
    <div class="toggle-btn" id="btn" data-action="click->navbar#slide">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <% unless controller_name == 'universes' && action_name == 'index' || controller_name == 'adventures' && action_name == 'show' %>
      <div class="return-page-navbar">
        <% if content_for?(:back_url)  %>
        <%= link_to "", content_for(:back_url), class: "fas fa-step-backward", id: "back-btn" %>
        <% else %>
        <%= link_to " ", :back, class: "fas fa-chevron-left" %>
        <% end %>
        <label for="back-btn" id="text-btn-back">Retour</label>
      </div>
    <% end %>
    <%# <i class="fas fa-chevron-left"></i></div> %>

    <div class="navbar">
      <div class="top-navbar">
        <ul class="ul-navbar">
          <%# <div>
            <%= image_tag("logo-portal.png", size: "30px")%>
            <%# <img src="app/assets/images/logo-portal.png" alt="portal logo"> %>
          <%# </div> %>
          <% Universe.all.each do |universe| %>
            <%= link_to universe_path(universe), class: "nav-link" do %>
              <li class="li-navbar"><i class="fa-regular fa-circle"></i>&nbsp;&nbsp;<%= universe.theme %></li>
            <% end %>
          <% end %>
          <%# <li class="li-navbar"><i class="fa-sharp fa-solid fa-house"></i>&nbsp;&nbsp; <%= link_to "Univers", universes_path, class: "nav-link"</li> %>
          <%# <li class="li-navbar"><i class="fa-solid fa-book-open"></i>&nbsp;&nbsp;Contexte</li>
          <li class="li-navbar"><i class="fa-solid fa-user-astronaut"></i>&nbsp;&nbsp;&nbsp; <%= link_to "Personnage", "/characters/1/adventures/new", class: "nav-link" </li> %>
        </ul>
      </div>
      <div class="bottom-navbar">
        <ul class="ul-navbar">
          <%# <li class="li-navbar"><i class="fa-solid fa-user"></i>&nbsp;&nbsp; Profil</li> %>
          <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" do %>
            <li class="li-navbar"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp;Déconnexion</li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
