<div class="character-background h-screen" style="background: url(<%= @character.image_background_page_url %>);">
  <div class="container py-5">
    <h1 class="title"><%= @character.name %></h1>
    <div class="character-creation">
      <div class="character-info box-display d-flex">
        <div class="character-card-creation">
          <img class="class-img character-creation-img" src=<%= @character.image_card_url %> alt="">
          <div class="statistics">
            <p>Strength: <%= @character.strength %></p>
            <p>Dexterity: <%= @character.dexterity %></p>
            <p>Constitution: <%= @character.constitution %></p>
            <p>Intelligence: <%= @character.intelligence %></p>
            <p>Wisdom: <%= @character.wisdom %></p>
            <p>Charisma: <%= @character.charisma %></p>
          </div>
        </div>
        <div class="character-text">
          <%= @character.description %>
        </div>
      </div>
      <div class="box-display ">
        <div class="form-display">
        <%= simple_form_for [@character, @adventure] do |f| %>
          <%= f.input :character_name %>
          <%= f.input :choices, as: :boolean, input_html: { class: "toggle" } %>
          <%= f.input :difficulty, priority: [ "Normal" ], collection: [ "Easy", "Normal", "Hard"], as: :radio_buttons,
                      label_method: lambda { |difficulty| render "difficulty_label", difficulty: difficulty } %>
          <%= f.button :submit, class: "btn-home" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-div">
    <%= link_to '<', universe_path(@character.universe), class:"btn-home"%>
  </div>
</div>
