<% content_for(:back_url, universe_path(@character.universe)) %>

<div class="character-background h-screen adventure-new" style="background: url(<%= @character.image_background_page_url %>);">
  <div class="container pt-5 pb-2">
    <div class="character-creation">
      <h1 class="title"><%= @character.name %></h1>
        <div class="character-info box-display d-flex">
          <div class="character-card-creation">
            <img class="class-img character-creation-img" src=<%= @character.image_card_url %> alt="">
            <div class="statistics">
              <p>Strength <span class="<%= find_color(@character.strength) %>"><%= @character.strength %></span></p>
              <p>Dexterity <span class="<%= find_color(@character.dexterity) %>"><%= @character.dexterity %></span></p>
              <p>Constitution <span class="<%= find_color(@character.constitution) %>"><%= @character.constitution %></span></p>
              <p>Intelligence <span class="<%= find_color(@character.intelligence) %>"><%= @character.intelligence %></span></p>
              <p>Wisdom <span class="<%= find_color(@character.wisdom) %>"><%= @character.wisdom %></span></p>
              <p>Charisma <span class="<%= find_color(@character.charisma) %>"><%= @character.charisma %></span></p>
            </div>
          </div>
          <div class="character-text">
            <%= @character.description %>
          </div>
        </div>
        <div class="box-display">
          <div class="form-display form-adventure-new">
          <%= simple_form_for [@character, @adventure] do |f| %>
            <%= f.input :character_name %>
            <%= f.input :choices, as: :boolean, input_html: { class: "toggle" } %>
            <%= f.input :difficulty, checked: "Normal", collection: [ "Easy", "Normal", "Hard"], as: :radio_buttons,
                        label_method: lambda { |difficulty| render "difficulty_label", difficulty: difficulty },
                        wrapper_html: { class: "d-flex flex-wrap justify-content-between"} %>
            <%= f.button :submit, class: "btn-home", data: { action: "click->loading-page#launchLoader" } %>
          <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
