<div class="character-background ">
  <div class="container h-screen ">
    <h1 class="text-center"><%= @character.name %></h1>
    <div class="character-creation d-flex">
      <div class="character-info box-display d-flex">
        <div class="character-card-creation">
          <img class="class-img character-creation-img" src=<%= @character.image_url %> alt="">
          <div class="characteristic-point">
            <p>Strength: <%= @character.strength %></p>
            <p>Dexterity: <%= @character.dexterity %></p>
            <p>Constitution: <%= @character.constitution %></p>
            <p>Intelligence: <%= @character.intelligence %></p>
            <p>Wisdom: <%= @character.wisdom %></p>
            <p>Charisma: <%= @character.charisma %></p>
          </div>
        </div>
        <div class="character-text">
          <%= @character.description %>
        </div>
      </div>
      <div class="box-display ">
        <div class="form-display">
        <%= simple_form_for [@character, @adventure] do |f| %>
          <%= f.input :character_name %>
          <%= f.input :difficulty, priority: [ "Normal" ], collection: [ "Easy", "Normal", "Hard"], as: :radio_buttons,
                      label_method: lambda { |difficulty| render "difficulty_label", difficulty: difficulty } %>
          <%= f.button :submit, class: "btn-home" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
