
<h1>Adventure</h1>
<div class="adventure">
  <% @messages.each do |message| %>
    <div class="d-flex">
      <p class="me-3"><strong><%= message.role %></strong></p>
      <p><%= message.content %></p>
    </div>
  <% end %>
  <%= simple_form_for [@adventure, @message] do |f| %>
    <%= f.input :content %>
    <%= f.button :submit %>
  <% end %>
</div>
