<div class="modal-dialog modal-fullscreen">
  <h1>Modal</h1>
</div>
<h1>Adventures#show</h1>
<p>Find me in app/views/adventures/show.html.erb</p>
  <div class="adventure">
    <p><%= @adventure.character_id %></p>
    <p><%= @adventure.character_name %></p>
    <p><%= @adventure.difficulty %></p>
    <p><%= @adventure.choices %></p>
    <p><%= @adventure.save_adventure %></p>
    <p><%= @adventure.user_id %></p>
  </div>
