<div class="container">
  <h1>New character</h1>
  <%= simple_form_for @character do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :parameters %>
    <%= f.input :image_card_url %>
    <%= f.input :image_background_card_url %>
    <%= f.input :image_background_page_url %>
    <%= f.input :strength %>
    <%= f.input :dexterity %>
    <%= f.input :constitution %>
    <%= f.input :intelligence %>
    <%= f.input :wisdom %>
    <%= f.input :charisma %>
    <%= f.submit %>
  <% end %>
</div>
