<div class="universe-background h-screen">
  <div class="container">
    <h1 class="title"><%= @universe.theme %></h1>
    <div class="description">
     <%= @universe.description %>
    </div>
    <div class="card-display ">
      <% @universe.characters.each do |character|%>
        <button type="" class="card-product" data-bs-toggle="modal" data-bs-target="#ModalCenter-<%= character.id %>">
              <%# <img class="class-img" src=<%#= character.image_url %>
              <div class="d-flex flex-column align-items-start justify-content-end" style="background-image: url(<%=  character.image_url %>); height: 250px; width: 250px; background-position: center; background-size: cover; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                <h3 class="character-name text-center mt-auto ps-3"><%= character.name %></h3>
              </div>
              <div class="card-product-infos">
                  <div class="d-flex justify-content-around height">
                    <div> <%= character.get_max_asset.first.capitalize %> : <%= character.get_max_asset.last %></div>
                    <div> <%= character.get_min_asset.first.capitalize %> : <%= character.get_min_asset.last%></div>
                  </div>
              </div>
        </button>
        <div class="modal fade character-modal" id="ModalCenter-<%= character.id %>" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered character-background" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title" id="ModalLabel"><%= character.name %></h1>
                </div>
                <div class="modal-body">
                  <div class="character-card">
                    <img class="img-modal" src="<%=character.image_url%>" alt="">
                    <div class="modal-display">
                      <p><%= character.description %></p>
                      <div class="row">
                        <div class="col-4">
                          <div class="pe-2 fw-bold text-lg text-nowrap text-center">Strength: <%= character.strength %></div>
                          <div class="pe-2 fw-bold text-lg text-nowrap text-center">Dexterity: <%= character.dexterity %></div>
                        </div>
                        <div class="col-4">
                          <div class="pe-2 fw-bold text-lg text-nowrap text-center">Constitution: <%= character.constitution %></div>
                          <div class="pe-2 fw-bold text-lg text-nowrap text-center">Intelligence: <%= character.intelligence %></div>
                        </div>
                        <div class="col-4">
                          <div class="pe-2 fw-bold text-lg text-nowrap text-center">Wisdom: <%= character.wisdom %></div>
                          <div class="pe-2 fw-bold text-lg text-nowrap text-center">Charisma: <%= character.charisma %></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer ">
                  <%= link_to 'Select', new_character_adventure_path(character), class:"btn-home" %>
                </div>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
