<% content_for(:back_url, universes_path) %>

<div class="universe-background h-screen" style="background: url(<%= @universe.image_background_url %>)">
  <div class="container py-3">
    <div class="description">
    <h1 class="univers-title"><%= @universe.theme %></h1>
     <p><span><%= @universe.description %></span></p>
    </div>
    <div class="card-display">
      <% @universe.characters.each do |character|%>
        <button type="" class="card-product" data-bs-toggle="modal" data-bs-target="#ModalCenter-<%= character.id %>">
              <%# <img class="class-img" src=<%#= character.image_url %>
              <div class="d-flex flex-column align-items-start justify-content-end card-background" style="background-image: url(<%= character.image_card_url %>);">
                <h3 class="character-name text-center mt-auto ps-3"><%= character.name %></h3>
              </div>
              <div class="card-product-infos">
                  <div class="d-flex justify-content-around height">
                    <div> <%= character.get_max_asset.first.capitalize %> : <span class="<%= find_color(character.get_max_asset.last) %>"><%= character.get_max_asset.last%></span></div>
                    <div> <%= character.get_min_asset.first.capitalize %> : <span class="<%= find_color(character.get_min_asset.last) %>"><%= character.get_min_asset.last%></span></div>
                  </div>
              </div>
        </button>
        <div class="modal fade character-modal" id="ModalCenter-<%= character.id %>" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered character-background block" role="document" style="background-image: url(<%=  character.image_background_card_url %>);">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title" id="ModalLabel"><%= character.name %></h1>
                </div>
                <div class="modal-body">
                  <div class="character-card">
                    <img class="img-modal" src="<%=character.image_card_url%>" alt="">
                    <div class="modal-display">
                      <p><%= character.description %></p>
                      <div class="statistics">
                          <div id="stat-1"><p>Force: <span class="<%= find_color(character.strength) %>"><%= character.strength %></span></p></div>
                          <div id="stat-2"><p>Dextérité: <span class="<%= find_color(character.dexterity) %>"><%= character.dexterity %></span></p></div>
                          <div id="stat-3"><p>Endurance: <span class="<%= find_color(character.constitution) %>"><%= character.constitution %></span></p></div>
                          <div id="stat-4"><p>Intelligence: <span class="<%= find_color(character.intelligence) %>"><%= character.intelligence %></span></p></div>
                          <div id="stat-5"><p>Sagesse: <span class="<%= find_color(character.wisdom) %>"><%= character.wisdom %></span></p></div>
                          <div id="stat-6"><p>Charisme: <span class="<%= find_color(character.charisma) %>"><%= character.charisma %></span></p></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer ">
                  <%= link_to 'Choisir', new_character_adventure_path(character), class:"btn-home" %>
                </div>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  <%# <div class="btn-div mt-2">
    <%= link_to '<', universes_path, class:"btn-back"%>
  <%# </div> %>
  </div>
</div>
