<!DOCTYPE html>
<html>
  <head>
    <title>Portals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>
  </head>

  <body>
    <div class="align-items-center justify-content-between">
      <% unless devise_controller? %>
        <%= render "shared/navbar" if action_name != 'home' %>
      <% end %>

      <div id="blur">
        <%= yield %>
      </div>

      <div>
        <%= render "shared/flashes" %>
      </div>
    </div>
  </body>
</html>
