<!DOCTYPE html>
<html>
  <head>
    <title>Portals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>
  </head>

  <body data-controller="loading-page">
    <div class="align-items-center justify-content-between">
      <% unless devise_controller? %>
        <%= render "shared/navbar" if action_name != 'home' %>
      <% end %>

      <div id="blur">
        <%= yield %>
      </div>

      <div>
        <%= render "shared/flashes" %>
      </div>

      <div id="loader" data-loading-page-target="loader">
        <%# <p id="l" data-loading-page-target="loader-text">Your game is loading ...</p> %>
        <%# mettre du type JS %>
        <h3 id="loader-text"><span data-loading-page-target="loaderText"></span></h3>
      </div>

    </div>
  </body>
</html>
